<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="!lagiUpdate">Open Order</ion-title>
    <ion-title *ngIf="lagiUpdate">Edit Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formOrderan" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="Lokasi" #lokasi formControlName="lokasi" label-placement="floating" fill="outline" placeholder="Masukkan lokasi"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-input label="Tanggal"   value="{{ today }}" label-placement="floating" id="date" fill="outline" placeholder="Pilih tanggal" ></ion-input>
            <ion-popover trigger="date" >
                <ng-template>
                    <ion-datetime  formControlName="tanggal" [showDefaultButtons]="true" mode="ios" presentation="date" (ionChange)="setTanggal($event)"  [(ngModel)]="today" locale="en-US"></ion-datetime>
                </ng-template>
            </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button expand="block" color="primary" shape="round" type="submit" *ngIf="!lagiUpdate">TAMBAH</ion-button>
            <ion-button expand="block" color="primary" shape="round" type="submit" *ngIf="lagiUpdate">SIMPAN</ion-button>
          </ion-col> 
      </ion-row>
      <!-- Error messages -->
      <ion-row>
        <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['lokasi'].errors?.['required']">
          Lokasi wajib diisi.
        </ion-text>        
      </ion-row>
    </ion-grid>
  </form>


  <ion-loading trigger="open-loading" message="Menyimpan..." ></ion-loading>
</ion-content>
