<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="!lagiUpdate">Tambah Produk</ion-title>
    <ion-title *ngIf="lagiUpdate">Edit Produk</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true"  class="ion-padding" >
  <form [formGroup]="formProduk"  (ngSubmit)="submitForm()" >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="Nama Produk" #namaProduk  formControlName="nama_produk"  label-placement="floating" fill="outline" placeholder="Masukkan nama"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input label="Harga Pokok (Rp)" type="number"  formControlName="harga_pokok"  label-placement="floating" fill="outline" placeholder="Masukkan harga pokok"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input label="Harga Jual (Rp)" type="number"  formControlName="harga_jual"  label-placement="floating" fill="outline" placeholder="Masukkan harga jual"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
                  <ion-select [(ngModel)]="selectedkategoriid" (ionChange)="setIdKategori($event)"  formControlName="kategori_id"  interface="popover" label="Kategori" label-placement="floating" class="kategori" aria-label="Kategori" label-placement="floating" fill="Outline">
                    <ion-select-option *ngFor="let kategori of kategoris" [value]="kategori.id"  >{{ kategori.nama_kategori }} </ion-select-option>
                  </ion-select>
              
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" formControlName="tampilkan"  >Tampilkan di transaksi</ion-checkbox>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="!lagiUpdate" expand="block" color="primary" shape="round" type="submit" shape="round" >TAMBAH</ion-button>
            <ion-button *ngIf="lagiUpdate" expand="block" color="primary" shape="round" type="submit" shape="round" >EDIT</ion-button>
          </ion-col>
        </ion-row>
         <!-- Error messages -->
        <ion-row>
          <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['nama_produk'].errors?.['required']">
            Nama produk wajib diisi.
          </ion-text>
          <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['nama_produk'].errors?.['minlength']">
            Nama produk minimal terdiri dari 3 karakter.
          </ion-text>
          <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['harga_pokok'].errors?.['required']">
            Harga pokok wajib diisi.
          </ion-text>
          <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['harga_jual'].errors?.['required']">
            Harga jual wajib diisi.
          </ion-text>
          <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['kategori_id'].errors?.['required']">
            Kategori wajib dipilih.
          </ion-text>
        </ion-row>
      </ion-grid>
  </form>

  <ion-loading trigger="open-loading" message="Menyimpan..." ></ion-loading>
</ion-content>
