<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="tambahpaddingleftright" >
    <ion-buttons slot="start" fill="clear">
      <ion-button routerLink="/tabs/orderan/setupapp/" routerDirection="forward">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>
      Tab 1
    </ion-title> -->
    <ion-buttons slot="end" fill="clear">
      <ion-button (click)="exitApp()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center" >
          <h3>{{namatoko}}</h3>
        </ion-text>    
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col size="12">
        <ion-segment mode="ios" (ionChange)="gantiSegment($event)" [value]="segmen">
          <ion-segment-button value="akandatang">
            <ion-label>Akan Datang</ion-label>
          </ion-segment-button>
          <ion-segment-button value="telahlewat">
            <ion-label>Telah Lewat</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>  
    </ion-row>
  </ion-grid>

<ion-grid *ngIf="segmen == 'akandatang'">
  <ion-card *ngFor="let orderan1 of orderanAkanDatang"   >
    <ion-card-content   >
      <ion-grid>
        <ion-row >
          <ion-col size="10" class="teks-hitam" (click)="navigateToDetail(orderan1)">
            <ion-icon aria-hidden="true" name="layers-outline"  color="primary"></ion-icon><br/>
            {{ orderan1.lokasi }}<br/>
            {{ orderan1.tanggal_teks }}
          </ion-col>
          <ion-col size="2" class="teks-hitam">
            <ion-button fill="clear" class="ion-no-margin min-height" (click)="editOrderan(orderan1)" >
                <ion-icon name="pencil-outline"></ion-icon><br/>
            </ion-button><br/>
            <ion-button fill="clear"  *ngIf="orderan1.id_orderan == null" class="ion-no-margin min-height"  (click)="hapusOrderan(orderan1,'akandatang')">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-grid>


<!-- segment telah lewat -->
<ion-grid *ngIf="segmen == 'telahlewat'">
  <ion-card *ngFor="let orderan2 of orderanLewat">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size="10" class="teks-hitam"  (click)="navigateToDetail(orderan2)">
            <ion-icon aria-hidden="true" name="layers-outline"></ion-icon><br/>
            {{ orderan2.lokasi }}<br/>
            {{ orderan2.tanggal_teks }}
          </ion-col>
          <ion-col size="2" class="teks-hitam">
            <ion-button fill="clear" class="ion-no-margin min-height" (click)="editOrderan(orderan2)" >
                <ion-icon name="pencil-outline"></ion-icon><br/>
            </ion-button><br/>
            <ion-button fill="clear" *ngIf="orderan2.id_orderan == null" class="ion-no-margin min-height"  (click)="hapusOrderan(orderan2,'telahlewat')">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-grid>


      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/tabs/orderan/tambahorderan">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
