<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h2>Daftar Harga</h2>
    <h3>{{ namatoko }}</h3>
    <h4>18/05/2023</h4>
  </div>

  <ion-card  *ngFor="let produkcet of produkscetak">
    <ion-card-header>
      <ion-card-title style="font-size:15px">
        <b>{{ produkcet.nama_produk }}</b>
        <span style="float:right">{{ produkcet.harga_jual_teks }}</span>
      </ion-card-title>
    </ion-card-header>   
  </ion-card>
</ion-content>
