<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Statistik Status Bayar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/orderan/detailorderan/{{ orderan_id }}"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col size="8" class="teks-hitam">
      <ion-text class="detail-lokasi">{{ lokasi }}</ion-text><br />
      <ion-text class="detail-tanggal">{{tanggal }}</ion-text>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row
      style="font-size: 16px"
      *ngFor="let ar of arrStatusBayar; let i = index; "
    >
      <ion-col size="5"> {{ ar.status }} </ion-col>
      <ion-col size="2" class="ion-text-center"> {{ arrJumlah[i] }} </ion-col>
      <ion-col size="5" class="ion-text-end"> Rp. {{ arrSubtotal_teks[i] }} </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle class="ion-no-margin ion-no-padding">
        <ion-row>
          <ion-col size="6" style="font-size: 14px">
            Total : {{ jumlah_pelanggan }} orang
          </ion-col>
          <ion-col
            size="6"
            style="font-size: 17px"
            class="justify-content-end ion-text-right"
          >
            <b>Rp. {{ totalsemua }}</b>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
