<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >Statistik Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan/detailorderan/{{ orderan_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="ion-padding-horizontal">
    <ion-col size="8" class="teks-hitam">
      <ion-text class="detail-lokasi">{{ lokasi }}</ion-text><br/>
      <ion-text class="detail-tanggal">{{tanggal }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-item class="combobox-default" style="width: 100%;margin-bottom:5px;background-color: white;" lines="none">
      <ion-label>Kategori :</ion-label>
      <ion-select interface="popover" (ionChange)="filterKategori($event)" placeholder="Semua" >
        <ion-select-option   value="0">Semua</ion-select-option>
        <ion-select-option   *ngFor="let kategori of kategoris" value="{{ kategori.id }}"  >{{ kategori.nama_kategori }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <ion-card color="success">
    <ion-card-header>
      <ion-title style="font-size:22px;font-weight: bold;" class="ion-text-center">
        Rp. {{ totalStatistik.subtotal }}
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
            <h4 class="ion-no-margin ion-no-padding">Harga Pokok</h4>
            <h2 class="ion-no-margin ion-no-padding"><b>Rp. {{ totalStatistik.subtotalhargapokok }}</b></h2>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
            <h4 class="ion-no-margin ion-no-padding">Profit</h4>
            <h2 class="ion-no-margin ion-no-padding"><b>Rp. {{ totalStatistik.profit }}</b></h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col  class="ion-text-center">
      Ada {{ jumlah_produk }} item
    </ion-col>
  </ion-row>
  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-card  *ngFor="let produk of produks">
    <ion-card-header>
      <ion-card-title style="font-size:15px">
        <b>{{ produk.nama_produk }}</b>
        <span style="float:right;font-size:20px">{{ produk.qty_total }}</span>
      </ion-card-title>
    </ion-card-header>   
  </ion-card>
</ion-content>
