.detail-lokasi {
    font-weight: bold;
    width: 100%;
    color: rgb(104, 102, 104) !important;
}

.detail-tanggal {
    margin-top:10px;
    font-weight: bold;
    font-size: 3vh;
    color: rgb(104, 102, 104) !important;
}