.toolbar {
    --min-height:15vh;
 }
.ion-select {
    //--background:#fff;
    --highlight-color-valid:#000;
    --placeholder-color:#000;
}

ion-button {
    --color: #7CB4C7 !important;
}

ion-card-title{
    font-size: 16px !important;
}

ion-card-subtitle.card-kategori  {
    color:var(--ion-color-primary);
}

ion-checkbox {
    --checkbox-background-checked: var(--ion-color-primary);
  }

  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid var(--ion-color-primary);
  }

  .select-full-width {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important; 
  }

  ion-select.filter-kategori {
    display: flex !important;
    width: 100% !important;
    --background: #fff !important;
    color:#000;
    --border-radius: 2px;
    min-height: 42px !important;
    max-width: 99.5% !important;
    padding-left:2px;
    --padding-start:10px;
    border-radius: 25px !important;
  }

  ion-select-option {
    padding-left:50px;color:#ff0000;
  }
 
  
  .searchbar-input {
    padding: left 9px !important;
    --background:#fff !important;
  }

  ion-select::part(icon) { float:right !important; }

  .min-height {
    height:24px !important;
    padding:0px !important;
    font-size: 16px !important;
    --color: var(--ion-item-color, #262626) !important;
    --background-activated: #4daf7c;
}