<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="toolbar" class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-select
          class="filter-kategori"
          (ionChange)="filterCariProduk($event,'kategori')"
          placeholder="Semua Kategori"
          interface="popover"
        >
          <ion-select-option value="0">Semua Kategori</ion-select-option>
          <ion-select-option
            *ngFor="let kategori of kategoris"
            value="{{ kategori.id }}"
            >{{ kategori.nama_kategori }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-searchbar
      class="cari-produk"
      placeholder="Cari"
      [debounce]="800"
      animated="true"
      (ionChange)="filterCariProduk($event,'query')"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col size="2">
      <ion-button
        fill="clear"
        class="button-color"
        routerLink="/tabs/produk/cetakproduk"
        routerDirection="forward"
      >
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <ion-text class="ion-text-center">
        <p>Ada {{ jumlah_produk }} produk</p>
      </ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-button
        fill="clear"
        class="button-color"
        routerLink="/tabs/produk/kategori"
        routerDirection="forward"
      >
        <ion-icon name="folder"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let produk of produks">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-checkbox
              value="{{ produk.id }}"
              (ionChange)="updateTampilkanProduk($event, produk.id)"
              color="primary"
              [(ngModel)]="produk.tampilkan"
            ></ion-checkbox>
          </ion-col>
          <ion-col size="9">
            <ion-card-title><b> {{ produk.nama_produk }}</b></ion-card-title>
            <ion-card-subtitle
              >Rp. {{ produk.harga_pokok_teks }} / Rp. {{ produk.harga_jual_teks
              }}</ion-card-subtitle
            >
            <ion-card-subtitle class="card-kategori"
              >{{ produk.nama_kategori }}</ion-card-subtitle
            >
          </ion-col>
          <ion-col size="2">
            <ion-button
              fill="clear"
              class="ion-no-margin min-height"
              (click)="editProduk(produk)"
            >
              <ion-icon name="pencil-outline"></ion-icon> </ion-button
            ><br />
            <ion-button
              fill="clear"
              class="ion-no-margin min-height"
              (click)="hapusProduk(produk.id)"
              *ngIf="produk.id_produk_order == null"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/tabs/produk/tambahproduk">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
