<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/orderan/tambahorderanpelanggan/{{  orderan_id }}" slot="start"></ion-back-button>
    <ion-title>{{ nama_pelanggan }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-searchbar [debounce]="800"  animated="true"  placeholder="Cari" (ionChange)="cariProduk($event)" ></ion-searchbar>
  <div *ngIf="queryCari!='' && produks.length==0 " class="ion-text-center alignSpinner">
    <ion-text>Data tidak ditemukan</ion-text>
  </div>
  <ion-card *ngFor="let produk of produks; let i = index">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-no-padding">
         <ion-col size="8" >
            <ion-card-title><b>{{ produk.nama_produk }}</b></ion-card-title>
            <ion-card-subtitle>Rp. {{ produk.harga_jual_teks }}</ion-card-subtitle>
          </ion-col>
          <ion-col size="4" class="col-cart ion-text-right" >
                <ion-button fill="clear" class="ion-no-margin min-height" (click)="tambahQty(produk,i)" *ngIf="!produk.qty || produk?.qty==0" >
                  <fa-icon icon="cart-plus" size="2x" ></fa-icon>
                </ion-button>      

            
                <fa-icon *ngIf="produk.qty && produk?.qty>0"  icon="minus" color="danger" (click)="kurangQty(produk,i)"></fa-icon>
                <span *ngIf="produk.qty && produk?.qty>0" style="vertical-align: 5%;padding-left:5px;padding-right:5px;" >{{ produk?.qty || 0 }}</span>
                <fa-icon *ngIf="produk.qty && produk?.qty>0" icon="plus" color="danger" (click)="tambahQty(produk,i)"></fa-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer class="ion-no-border bg-footer"   >
  <ion-row  class="ion-padding bg-footer row">
    <ion-col size="3">
      {{ jumlah_item }} item
    </ion-col>
    <ion-col size="6">
      Rp. {{ total_harga }}
    </ion-col>
    <ion-col size="3">
      <ion-button fill="clear" class="ion-no-margin min-height btn-simpan"  (click)="simpanItem()" >
        SIMPAN
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>
