.row{
    align-items: center;
  }

.row  {
    ion-col {
        color:rgb(44, 139, 71);
        font-weight: bold;;
    }

}  

  .bg-footer {
    background-color: rgb(135, 238, 164);
  }

  .btn-simpan {
    font-weight: bold;
    color:rgb(44, 139, 71) !important;
  }

  .col-cart {
      font-size: 20px;
  }