
.min-height {
    height:24px !important;
    padding:0px !important;
    font-size: 16px !important;
    --color: var(--ion-item-color, #262626);
    --background-activated: #4daf7c;
}

.teks-hitam {
    font-size: 17px;
}