<ion-header c>
  <ion-toolbar color="primary" class="toolbar ion-padding">
    <ion-searchbar [debounce]="800"  animated="true"  (ionInput)="cariPelanggan($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="queryCari!='' && pelanggans.length==0 " class="ion-text-center alignSpinner">
    <ion-text>Data tidak ditemukan</ion-text>
  </div>

    <ion-text class="ion-text-center" >
      <p>Ada {{jumlah_pelanggan }} pelanggan</p>
     </ion-text>  
            <ion-card *ngFor="let pelanggan of pelanggans">
              <ion-card-content>
                  <ion-row class="ion-no-padding">
                    <ion-col size="10">
                      <ion-text  class="teks-hitam">
                        {{ pelanggan.nama }}<br/>
                        {{ pelanggan.no_hp }}
                      </ion-text>
                    </ion-col>
                    <ion-col size="2" >
                        <ion-button fill="clear" class="ion-no-margin min-height" (click)="editPelanggan(pelanggan)" >
                            <ion-icon name="pencil-outline"></ion-icon><br/>
                        </ion-button><br/>
                        <ion-button fill="clear" class="ion-no-margin min-height" *ngIf="pelanggan.id_pelanggan_order == null"  (click)="hapusPelanggan(pelanggan)">
                          <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card> 

            <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
            
            <!-- <ion-button-- (click)="addData()">ADD DATA</ion-button-->

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/','tabs','pelanggan','tambahpelanggan']" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
