<ion-tabs #myTabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orderan">
      <ion-icon aria-hidden="true" name="layers-outline"></ion-icon>
      <ion-label>Opderan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pelanggan">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Pelanggan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produk">
      <ion-icon name="logo-microsoft"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
