<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >Tambah Orderan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan/detailorderan/{{ orderan_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text class="ion-padding">Pilih pembeli :</ion-text>
  <ion-searchbar [debounce]="800"  animated="true"  placeholder="Cari"  (ionInput)="cariPelanggan($event)"></ion-searchbar>
  <div *ngIf="queryCari!='' && pelanggans.length==0 " class="ion-text-center alignSpinner">
    <ion-text>Data tidak ditemukan</ion-text>
  </div>
  <ion-card *ngFor="let pelanggan of pelanggans">
    <ion-card-content>
        <ion-row class="ion-no-padding">
          <ion-col size="2">
            <ion-button fill="clear" class="ion-no-margin min-height" (click)="editPelanggan(pelanggan)"  >
              <ion-icon name="pencil-outline"></ion-icon><br/>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-text  style="font-size:17px">
              {{ pelanggan.nama }}
            </ion-text> 
            <ion-text color="warning"style='font-size:10px' *ngIf="pelanggan.pelanggansudahorder" ><br/>Sudah order</ion-text>            
          </ion-col>
          <ion-col size="2" >
            <ion-button fill="clear" class="ion-no-margin min-height" *ngIf="!pelanggan.pelanggansudahorder" (click)="navigateToTambahProduk(pelanggan)" >
              <ion-icon name="arrow-forward"></ion-icon><br/>
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card> 
</ion-content>
