ion-toolbar {
    border-style: dotted !important;
}

ion-item {
    border-bottom-style: dotted !important;
}

ion-list {
    border: none !important;
}
ion-row {
    border-bottom-style: solid !important;
}

.status-bayar {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}