<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!showStatusBayar && showOpsiFilterStatusBayar" (click)="showHideStatusBayar()">
      Tampilkan status bayar 
      <ion-icon name="eye"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showStatusBayar && showOpsiFilterStatusBayar" (click)="showHideStatusBayar()">
      Sembunyikan status bayar
      <ion-icon name="eye-off"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list class="ion-no-padding" >
  <ion-item class="ion-padding" lines="none" *ngFor="let pelanggan of pelangganOrder;let i = index">
    <ion-grid >
      <ion-row class="ion-padding-vertical">
        <ion-col class="">
          <div class="ion-text-center"><b>{{ namaApp }}</b></div> 
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical">
        <ion-col size="7">
          {{ lokasi }}
        </ion-col>
        <ion-col size="5" class="ion-text-end">
          <b>{{ tanggal }}</b>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical">
        <ion-col>
          <b> {{ pelanggan.nama }}</b>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical" *ngFor="let item of pelanggan.item; ">
        <ion-col size="2">
          {{ item.qty }}
        </ion-col>
        <ion-col size="5">
          <b>{{ item.nama_produk }}</b><br/>
          Rp. {{ item.harga_teks }}
        </ion-col>
        <ion-col size="5" class="ion-text-end">
          Rp. {{ item.subtotal_teks }}
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-vertical" style="border-bottom: none !important;">
        <ion-col size="4">
          <b>{{ pelanggan.total_item }} item</b>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          <b>Rp. {{ pelanggan.total_harga_teks }}</b>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding status-bayar" *ngIf="showStatusBayar">
        <ion-col size="1">
          <ion-icon name="information-circle"></ion-icon>
        </ion-col>
        <ion-col size='11'>
          {{ pelanggan.status_bayar || "Belum Bayar" }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
 </ion-list>
</ion-content>
