<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formSetup" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="namatoko" label="Nama Toko" formControlName="nama_toko" label-placement="floating" fill="outline" placeholder="Masukkan nama toko" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" shape="round" type="submit">SIMPAN</ion-button>
        </ion-col>     
      </ion-row>
      <!-- Error messages -->
      <ion-row>
        <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['nama_toko'].errors?.['required']">
          Nama wajib diisi.
        </ion-text>

      </ion-row>
    </ion-grid>
  </form>

  <ion-loading trigger="open-loading" message="Menyimpan..." ></ion-loading>
</ion-content>
