<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Kategori</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div> -->

    <ion-text class="ion-text-center" >
      <p>Ada {{ jumlah_kategori }} kategori</p>
     </ion-text>  

     <ion-card  *ngFor="let kategori of kategoris">
      <ion-card-content>
        <ion-grid>
          <ion-row >
            <ion-col size="10" class="teks-hitam">
              <ion-icon aria-hidden="true" name="folder-outline" ></ion-icon><br/>
              {{ kategori.nama_kategori }} 
            </ion-col>
            <ion-col size="2" >
              <ion-button fill="clear" class="ion-no-margin min-height" (click)="editKategori(kategori)" >
                  <ion-icon name="pencil-outline"></ion-icon><br/>
              </ion-button><br/>
              <ion-button *ngIf="kategori.kategori_id_produk == null"  fill="clear" class="ion-no-margin min-height" (click)="hapusKategori(kategori)" >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  

            <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
            
            <!-- <ion-button-- (click)="addData()">ADD DATA</ion-button-->

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/','tabs','produk','kategori','tambahkategori']" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
