<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >Edit Orderan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan/detailorderan/{{ orderan_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list  lines="none">
    <ion-item style="font-size: 18px;">
      <ion-icon  name="person-circle"></ion-icon>&nbsp;&nbsp;<b>{{ pelanggan.nama }}</b>
    </ion-item>
  </ion-list>
  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>


  <ion-card *ngFor="let produk of produks;">
    <ion-card-content >
      <ion-grid>
        <ion-row >
          <ion-col size="9" class="ion-no-margin ion-no-padding">
            <b>{{ produk.nama_produk }}</b>
          </ion-col>
          <ion-col size="3" class="ion-no-margin ion-no-padding ion-text-right ion-justify-content-end" style="font-size:18px;">
            <fa-icon  icon="minus" color="danger" (click)="kurangQty(produk)"></fa-icon>
            <span  style="vertical-align: 5%;padding-left:5px;padding-right:5px;" >{{ produk?.qty || 0 }}</span>
            <fa-icon  icon="plus" color="danger"  (click)="tambahQty(produk)"></fa-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="ion-no-margin ion-no-padding">
            Rp. {{ produk.harga_jual_teks }}
          </ion-col>
          <ion-col size="7" class="ion-no-margin ion-no-padding ion-text-right ion-justify-content-end">
            Rp. {{ produk.subtotal }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header style="padding-bottom:5px" >
      <ion-card-subtitle class="ion-no-margin ion-no-padding">
        <ion-row   >
          <ion-col size="9">
            {{ jumlah_item }} item
            Rp. {{ total_harga }}
          </ion-col>
          <ion-col size="3"  class='justify-content-end ion-text-right'>
            <ion-icon name="add-circle" (click)="navigateToPlus()" style="font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
