<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Orderan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orderan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="ion-no-padding">
    <ion-col size="8" class="teks-hitam">
      <ion-text class="detail-lokasi">{{ lokasi }}</ion-text><br />
      <ion-text class="detail-tanggal">{{tanggal }}</ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-end">
      <ion-button
        fill="clear"
        class="ion-no-margin min-height"
        routerLink="/tabs/orderan/statistikstatusbayar/{{ orderan_id }}"
      >
        <ion-icon name="cash"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="ion-text-end">
      <ion-button
        fill="clear"
        class="ion-no-margin min-height"
        routerLink="/tabs/orderan/statistikitem/{{ orderan_id }}"
      >
        <ion-icon name="stats-chart"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="ion-no-padding" >
    <ion-col class="ion-no-padding"> 
        <ion-select class="filter-kategori"  (ionChange)="filterKategori($event, 'status')" placeholder="Semua Status" interface="popover"  >
          <ion-select-option value="">Semua Status</ion-select-option>
          <ion-select-option *ngFor="let st of statusOrderan" value="{{ st }}"  >{{ st }}</ion-select-option>
        </ion-select> 
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-item
      class="combobox-default"
      style="width: 100%; margin-bottom: 5px; background-color: white"
      lines="none"
    >
      <ion-label>Status :</ion-label>
      <ion-select
        interface="popover"
        (ionChange)="filterKategori($event, 'status')"
        placeholder="Semua Status"
      >
        <ion-select-option value="">Semua Status</ion-select-option>
        <ion-select-option
          *ngFor="let st of statusBayar"
          value="{{ st.status }}"
          >{{ st.status }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-searchbar
        class="cari-produk"
        placeholder="Cari"
        (ionChange)="filterKategori($event, 'query')"
        [debounce]="800"
        animated="true"
        animated="true"
        style="padding: 0px"
      ></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding" style="height: 40px">
    <ion-col size="10">
      <ion-text class="ion-text-center">
        <p>Ada {{ jumlah_pelanggan }} orang order</p>
      </ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-button
        fill="clear"
        class="min-height ion-float-end"
        style="margin-top: 8px"
        routerLink="/tabs/orderan/cetakorderan/{{ orderan_id }}"
      >
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-card
    *ngFor="let pelanggan of pelangganOrder;let i = index"
    class="ion-margin-vertical"
  >
    <ion-card-header class="header border-bottom-only">
      <ion-card-title>
        {{ pelanggan.nama }}
        <ion-icon
          color="{{ pelanggan?.warna_status_bayar }}"
          style="float: right"
          name="checkmark-sharp"
          *ngIf="pelanggan.status_bayar && pelanggan.status_bayar !== 'Belum Bayar'"
        ></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-no-margin">
      <ion-list style="padding-top: 0px; padding-bottom: 0px">
        <ion-item
          class="ion-no-padding ion-no-margin"
          lines="none"
          *ngFor="let item of pelanggan.item; "
        >
          <ion-grid style="padding-top: 0px">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="2" style="height: 25px">
                <ion-button
                  fill="clear"
                  class="ion-no-margin min-height"
                  (click)="hapusProduk(pelanggan.id_pelanggan, item.id_produk)"
                >
                  <ion-icon name="close-circle"></ion-icon> </ion-button
                ><br />
              </ion-col>
              <ion-col size="9" style="height: 25px; padding-left: 0px">
                <b>{{ item.nama_produk }}</b>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin" offset="2" size="4"
                >Rp.{{ item.harga_teks }}</ion-col
              >
              <ion-col class="ion-no-padding ion-no-margin" size="2"
                >x {{ item.qty }}</ion-col
              >
              <ion-col
                class="ion-no-padding ion-no-margin ion-text-right"
                size="4"
                >Rp. {{ item.subtotal_teks }}</ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item
          class="ion-no-padding ion-no-margin border-top-only"
          lines="inset"
        >
          <ion-grid>
            <ion-row>
              <ion-col
                size="7"
                class="ion-no-padding ion-no-margin"
                style="padding-left: 15px"
              >
                <ion-text><b>{{ pelanggan.total_item }} item</b></ion-text>
              </ion-col>
              <ion-col
                size="5"
                class="ion-no-padding ion-no-margin ion-text-right"
              >
                <ion-text><b>Rp. {{ pelanggan.total_harga_teks }}</b></ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-no-padding ion-no-margin" lines="none">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button fill="clear" class="ion-no-margin min-height" routerLink="/tabs/orderan/cetakorderan/{{ orderan_id }}/{{ pelanggan.id_pelanggan }}">
                  <ion-icon name="document"></ion-icon>
                </ion-button>
                <ion-button
                  fill="clear"
                  class="ion-no-margin min-height"
                  routerLink="/tabs/orderan/detailorderan/editorderan/{{ orderan_id }}/{{ pelanggan.id_pelanggan }}"
                >
                  <ion-icon name="pencil"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col
                size="6"
                class="ion-no-padding ion-no-margin ion-text-right"
              >
                <ion-button
                  fill="clear"
                  class="ion-no-margin min-height"
                  style="margin-top: 10px; margin-right: -15px"
                  (click)="ubahStatusBayar($event,i, pelanggan.id_pelanggan)"
                >
                  {{ pelanggan.status_bayar || "Belum Bayar" }}
                  <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
                </ion-button>
                <ion-popover
                  [isOpen]="isOpen[pelanggan.id_pelangan]"
                  side="bottom"
                  alignment="end"
                >
                  <ng-template> {{ pelanggan.nama }} </ng-template>
                </ion-popover>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br /><br /><br />

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button
      routerLink="/tabs/orderan/tambahorderanpelanggan/{{  orderan_id }}"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
