.detail-lokasi {
    font-weight: bold;
    width: 100%;
    color: rgb(104, 102, 104) !important;
}

.detail-tanggal {
    margin-top:10px;
    font-weight: bold;
    font-size: 3vh;
    color: rgb(104, 102, 104) !important;
}

ion-item {
    font-size: 15px;
}

// ion-select.filter-kategori {
//     min-height: 42px !important;
//     line-height: 30px !important;
//     padding-top: 6px !important;
//     padding-bottom: 6px !important;
//     --padding-start: 20px !important;
//     max-width: 100% !important;
//     width: 100% !important;
// }

// ion-select.filter-kategori::part(text){
//     --ion-item-background:#015f01d5
// }

.border-top-only {
    border-top: 0.55px solid #c8c7cc;
}

.border-bottom-only {
    border-bottom: 0.55px solid #c8c7cc;
}

.header {
    padding-bottom: 10px;
}