<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Tambah Kategori</ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk/kategori"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formKategori"  (ngSubmit)="submitForm()" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="Nama Kategori" #namaKategori formControlName="nama_kategori"  label-placement="floating" fill="outline" placeholder="Masukkan nama kategori" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" shape="round" type="submit" >TAMBAH</ion-button>
        </ion-col>     
      </ion-row>
      <!-- Error messages -->
      <ion-row>
        <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['nama_kategori'].errors?.['required']">
          Nama wajib diisi.
        </ion-text>
        <ion-text color="danger" class="ion-padding" *ngIf="isSubmitted && errorControl['nama_kategori'].errors?.['minlength']">
          Nama terdiri dari minimal 4 karakter.
        </ion-text>
      </ion-row>
    </ion-grid>
  </form>

  <ion-loading trigger="open-loading" message="Menyimpan..." ></ion-loading>
</ion-content>